.Input {
  width: 100%;
  padding: .75rem;
}

.Label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 700;
}

.InputElement {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font: inherit;
  background-color: white;
  border: .0625rem solid #ccc;
  outline: none;
}

.InputElement:focus {
  background-color: #ccc;
  outline: none;
}

.Invalid {
  border: 0.0625rem solid red;
  background-color: #fda49a;
}

.ValidationError {
  margin: .5rem 0;
  color: red;
  font-size: .75rem;
  text-align: left;
}